$gradient-color-blue : #00f;
$gradient-color-red : #ed1c24;
$gradient-color-green : #00bc00;
$gradient-color-cyan : #0ff;
$color-blue : #101a4c;
$color-white : #fff;
$color-grey: #e2e5e6;
$color-black: #000;

