{{!-- pages/index.hbs --}} {{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent"
description="Styleguide for the course Mobile Development I" pathToRoot="../" }} {{#*inline "head-block"}} {{/inline}} {{#*inline
"content-block"}}
<div class="fb-grid__container">
  <div class="fb-grid__row">
    <div class="fb-grid__col-12 page__header">
      <div class="page__header__content">
        <h1>UI Styleguide</h1>
      </div>
    </div>
    <div class="fb-grid__col-12">
      <h1>Colors</h1>
    </div>
    
    <div class="fb-grid__col-12 ">
      <div class="styleguide__color styleguide__color--2">
      <h4>Solid Color #1</h4>
      <p>#000</p>
      </div>
    </div>
    <div class="fb-grid__col-12 ">
      <div class="styleguide__color styleguide__color--1">
      <h4>Solid Color #2</h4>
      <p>#fff</p>
      </div>
    </div>
    <div class="fb-grid__col-12 ">
      <div class="styleguide__color styleguide__color--3">
      <h4>Solid Color #3</h4>
      <p>#101a4c</p>
      </div>
    </div>
    <div class="fb-grid__col-12 ">
      <div class="styleguide__color styleguide__color--4">
      <h4>Solid Color #4</h4>
      <p>#e2e5e6</p></div>
    </div>
    <div class="fb-grid__col-12 ">
      <div class="styleguide__color styleguide__color--5">
      <h4>Gradient Color #1</h4>
      <p>#00f => #ed1c24</p></div>
    </div>
    <div class="fb-grid__col-12 ">
      <div class="styleguide__color styleguide__color--6">
      <h4>Gradient Color #2</h4>
      <p>#00bc00 => #0ff</p>
      </div>
    </div>
    
    <div class="fb-grid__col-12">
      
      <h2>Typography</h2>
      <h1>This is an h1 heading.</h1>
      <h2>This is an h2 heading.</h2>
      <h3>This is an h3 heading.</h3>
      <h4>This is an h4 heading.</h4>
      <h5>This is an h5 heading</h5>
      <h6>This is an h6 heading.</h6>
      <p>This is a normal p tag</p>
      <strong>This is strong text.</strong>
    </div>
    <div class="fb-grid__col-12">
      <div class="content content--blue content__card">
        <h2>Buttons</h2>
        <a href="#" class="btn btn__default">Default button</a>
        <br>
        <br>
        <a href="#" class="btn btn__default--invert">Inverted button</a>
        <br>
        <br>
        <a href="#" class="btn btn__tag">#TAG</a>
        <a href="#" class="btn btn__tag">#styleguide</a>
        <br>
        <br>
        <a href="#" class="btn btn__default btn--red">Control panel button</a>
        <br>
        <br>
        Hamburger <i class="fas fa-bars"></i>
        <br>
        <br>
        <a href="#" class="link__reg">Regular link</a>
        <br>
        <br>
        <a href="#" class="link__reg--hover">Regular hover link</a>
      </div>
    </div>
  </div>
</div>
 {{/inline}} {{#*inline "scripts-block"}} {{/inline}} {{/layouts/base}}