{{!-- includes/body-nav.hbs --}}
<div class="fb-grid__container fb-grid__container__fw">
  <div class="fb-grid__row  header--shadow">
    <div class="fb-grid__col-12 header overlay-open">
      <div class="fb-grid__container">
        <div class="fb-grid__row header--open">
          <div class="fb-grid__col-4">
          </div>
          <div class="fb-grid__col-1 header__logo--open">
            <img src="../../../assets/images/logo.svg" alt="">
          </div>
          <div class="fb-grid__col-4 header__btn">
            <div class="fb-grid__row header__nav--open">
              <a href="/login" class="btn btn__default btn__default--invert" id="authElement"></a>
              <div class="fb-grid__col-2 btn__burger">
              <a href="#" class="navigation__open">
                <i class="fas fa-bars"></i>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header__overlay">
  <div class="fb-grid__container overlay__content">
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 header__overlay__item header__overlay--close">
        <h1>
          <a href="#">
            <i class="material-icons">close</i>
          </a>
        </h1>
      </div>
      <div class="fb-grid__col-12 header__overlay__item">
        <h1>
          <a href="/">Home</a>
        </h1>
      </div>
      <div class="fb-grid__col-12 header__overlay__item">
        <h1>
          <a href="/feed">Feed</a>
        </h1>
      </div>
      <div class="fb-grid__col-12 header__overlay__item">
        <h1>
          <a href="/project">Projects</a>
        </h1>
      </div>
      <div class="fb-grid__col-12 header__overlay__item">
        <h1>
          <a  href="/login" id="authElementNav">Login / Register</a>
        </h1>
      </div>
      <div class="fb-grid__col-12 header__overlay__item">
        <h1>
          <a href="/department">Departments</a>
        </h1>
      </div>
    </div>
  </div>
</div>

<script>
  
</script>