{{!-- pages/index.hbs --}} {{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent"
description="Styleguide for the course Mobile Development I" pathToRoot="../" }} {{#*inline "head-block"}} {{/inline}} {{#*inline
"content-block"}}
<div class="fb-grid__container">
  <div class="fb-grid__row">
    <div class="fb-grid__col-xl-12">
      <div class="article">
        <h1>UI Styleguide.</h1>
        <h1>Color Palette</h1>

      </div>

      <div class="fb-grid__col-xl-12">
        <h3>Gradient #1</h3>
        <p>#0000FF -> #ED1C24</p>
      </div>
      <div class="fb-grid__col-xl-12 styleguide-colors styleguide-colors__grad1"></div>
      <div class="fb-grid__col-xl-12">
        <h3>Gradient #2</h3>
        <p>#FF0FE1 -> #FFFD02</p>
      </div>
      <div class="fb-grid__col-xl-12 styleguide-colors styleguide-colors__grad2"></div>
      <div class="fb-grid__col-xl-12">
        <h3>Gradient #3</h3>
        <p>#00BC00 -> #00FFFF</p>
      </div>
      <div class="fb-grid__col-xl-12 styleguide-colors styleguide-colors__grad3"></div>
      <div class="fb-grid__col-xl-12">
        <h3>Color #1</h3>
        <p>#101A4C</p>
      </div>
      <div class="fb-grid__col-xl-12 styleguide-colors styleguide-colors__1"></div>
      <div class="fb-grid__col-xl-12">
        <div class="article">
          <h1>Typography</h1>
        </div>
      </div>
      <div class="fb-grid__col-xl-12 styleguide-typography">
        <h1>This is an h1 heading.</h1>
        <h2>This is an h2 heading.</h2>
        <h3>This is an h3 heading.</h3>
        <h4>This is an h4 heading.</h4>
        <h5>This is an h5 heading.</h5>
        <h6>This is an h6 heading.</h6>
        <a href="#">This is a link</a>
        <p>This is normal text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit lacus a bibendum
          eleifend. Cras ac ultrices augue, eget consectetur orci. Curabitur facilisis maximus elit. Nam aliquet neque ligula,
          ac gravida risus aliquet vitae. Curabitur elit nisi, rutrum at fringilla at, efficitur sit amet leo. Maecenas porta
          id diam eget placerat. Maecenas ornare nibh at accumsan aliquet. Nulla vitae tellus feugiat sapien dapibus laoreet
          eget id ex. Quisque eu ornare neque, quis efficitur enim.</p>
      </div>
      <div class="fb-grid__col-xl-12">
        <div class="article">
          <h1>Logo</h1>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-xl-12 styleguide-logo">
          <img src="../../assets/images/logo.svg" alt="logo">
        </div>
        <div class="fb-grid__col-xl-12">
          <div class="article">
            <h1>Buttons & Tags</h1>
          </div>
        </div>
      </div>

      <div class="fb-grid__row">
        <div class="fb-grid__col-xl-2 styleguide-buttons styleguide-buttons__button">
          <button>Read More</button>
        </div>
        <div class="fb-grid__col-xl-1 fb-grid__col-offset-xl-1 styleguide-buttons styleguide-buttons__tag">
          <button>#NMD</button>
        </div>
      </div>
    </div>
    <div class="fb-grid__col-xl-12">
      <h1>Page elements</h1>
    </div>

  </div>
</div>
<div class="fb-grid__container gr-dev">
  <div class="fb-grid__row  header-shadow">
    <div class="fb-grid__col-12 header overlay-open">
      <div class="fb-grid__container">
        <h3>
          <a href="#">Menu
            <i class="material-icons">menu</i>
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="fb-grid__container gr-dev">
  <div class="fb-grid__row">
    <div class="fb-grid__col-12">
      <div class="card-title-header">
        <h1>PRojects</h1>
      </div>
    </div>
  </div>
  <div class="fb-grid__row">

    <div class="fb-grid__col-6">
      <div class="gr-blue">
        <div class="card-content">
          <h1>Werkstuk #1 Detail page</h1>
          <strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur nunc at metus ornare porttitor. In cursus nibh ac
            imperdiet sollicitudin. Ut scelerisque turpis at nulla varius volutpat. Suspendisse quis turpis eget erat fermentum
            luctus. Aliquam non magna nec velit varius hendrerit ac eget ex.
          </strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur nunc at metus ornare porttitor. In cursus
            nibh ac imperdiet sollicitudin. Ut scelerisque turpis at nulla varius volutpat. Suspendisse quis turpis eget
            erat fermentum luctus. Aliquam non magna nec velit varius hendrerit ac eget ex. Ut metus magna, ultricies in
            arcu a, dignissim volutpat risus. Curabitur quis laoreet erat. Morbi commodo felis ac ipsum sodales finibus.
            Duis lacinia interdum consectetur. Mauris nec nulla consequat, consectetur leo sit amet, tincidunt nisi. Duis
            eget vehicula arcu, sit amet auctor mauris. Mauris pretium mi quis nulla ornare, congue gravida justo eleifend.</p>
          <p>
            <strong>Author: Lorem Ipsum</strong>
            <br>
            <strong>Opleiding: New Media Developtment</strong>
          </p>
          <div class="fb-grid__row">
            <div class="fb-grid__col-xl-2 styleguide-buttons styleguide-buttons__tag">
              <button>#NMD</button>
            </div>
            <div class="fb-grid__col-xl-2 styleguide-buttons styleguide-buttons__tag">
              <button>#NMD</button>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="fb-grid__col-6">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12 nested-col">
          <div class="gr-grey">
            Content
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-3">
      <div class="gr-grey">
        Content
      </div>
    </div>
    <div class="fb-grid__col-3">
      <div class="gr-grey">
        Content
      </div>
    </div>
    <div class="fb-grid__col-3">
      <div class="gr-grey">
        Content
      </div>
    </div>
    <div class="fb-grid__col-3">
      <div class="gr-grey">
        Content
      </div>
    </div>
  </div>
</div>
<div class="fb-grid__container gr-dev">

  <div class="fb-grid__row">
    <div class="fb-grid__col-12">
      <div class="gr-title">
        <h1>Alle projecten</h1>
      </div>
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-4">
      <div class="gr-test">
        <div class="fb-grid__row gr-card-content">
          <div class="fb-grid__col-3 gr-card__banner project__card--date">
            <h4>24-07-14</h4>
          </div>
          <div class="fb-grid__col-12 gr-card__banner project__card--title">
            <h2>Lorem Ipsum</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-grid__col-4">
      <div class="gr-test">
        <div class="fb-grid__row gr-card-content">
          <div class="fb-grid__col-3 gr-card__banner project__card--date">
            <h4>24-07-14</h4>
          </div>
          <div class="fb-grid__col-12 gr-card__banner project__card--title">
            <h2>Project #3</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-grid__col-4">
      <div class="gr-test">
        <div class="fb-grid__row gr-card-content">
          <div class="fb-grid__col-3 gr-card__banner project__card--date">
            <h4>24-07-14</h4>
          </div>
          <div class="fb-grid__col-12 gr-card__banner project__card--title">
            <h2>Project #4</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-grid__col-4">
      <div class="gr-test">
        <div class="fb-grid__row gr-card-content">
          <div class="fb-grid__col-3 gr-card__banner project__card--date">
            <h4>24-07-14</h4>
          </div>
          <div class="fb-grid__col-12 gr-card__banner project__card--title">
            <h2>Project #5</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="fb-grid__col-8">
      <div class="gr-test">
        <div class="fb-grid__row gr-card-content">
          <div class="fb-grid__col-3 gr-card__banner project__card--date">
            <h4>24-07-14</h4>
          </div>
          <div class="fb-grid__col-12 gr-card__banner project__card--title">
            <h2>Nieuwe project</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-12">
      <div class="gr-title">
        <h1>Detail werkstuk</h1>
      </div>
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-6 ">
      <div class="red">
        <h1>Werkstuk #1 Detail page</h1>
        <strong>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur nunc at metus ornare porttitor. In cursus nibh ac
          imperdiet sollicitudin. Ut scelerisque turpis at nulla varius volutpat. Suspendisse quis turpis eget erat fermentum
          luctus. Aliquam non magna nec velit varius hendrerit ac eget ex.
        </strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur nunc at metus ornare porttitor. In cursus
          nibh ac imperdiet sollicitudin. Ut scelerisque turpis at nulla varius volutpat. Suspendisse quis turpis eget erat
          fermentum luctus. Aliquam non magna nec velit varius hendrerit ac eget ex. Ut metus magna, ultricies in arcu a,
          dignissim volutpat risus. Curabitur quis laoreet erat. Morbi commodo felis ac ipsum sodales finibus. Duis lacinia
          interdum consectetur. Mauris nec nulla consequat, consectetur leo sit amet, tincidunt nisi. Duis eget vehicula
          arcu, sit amet auctor mauris. Mauris pretium mi quis nulla ornare, congue gravida justo eleifend.</p>
        <p>
          <strong>Author: Lorem Ipsum</strong>
          <br>
          <strong>Opleiding: New Media Developtment</strong>
        </p>
        <div class="fb-grid__row">
          <div class="fb-grid__col-xl-2 styleguide-buttons styleguide-buttons__tag">
            <button>#NMD</button>
          </div>
          <div class="fb-grid__col-xl-2 styleguide-buttons styleguide-buttons__tag">
            <button>#AVD</button>
          </div>
        </div>

      </div>
    </div>
    <div class="fb-grid__col-6">
      <div class="fb-grid__row">
        <div class="fb-grid__col-6 ">
          <div class="grey">
            Img
          </div>
        </div>
        <div class="fb-grid__col-6 ">
          <div class="grey">
            Img
          </div>
        </div>
        <div class="fb-grid__col-6 ">
          <div class="grey">
            Img
          </div>
        </div>
        <div class="fb-grid__col-6 ">
          <div class="grey">
            Img
          </div>
        </div>
        <div class="fb-grid__col-12 ">
          <div class="grey">
            Img
          </div>
        </div>
      </div>


    </div>
    <div class="fb-grid__col-6">Test</div>
  </div>
</div>
<p class="overlay-open">O</p>
<div class="overlay">
  <div class="overlay-content">
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 overlay-close overlay-item">
        <h1>
          <a href="#">
            <i class="material-icons">close</i>
          </a>
        </h1>
      </div>
      <div class="fb-grid__col-12 overlay-item">
        <h1>
          <a href="#">Home</a>
        </h1>
      </div>
      <div class="fb-grid__col-12 overlay-item">
        <h1>
          <a href="#">Contact</a>
        </h1>
      </div>
      <div class="fb-grid__col-12 overlay-item">
        <h1>
          <a href="#">Opleiding</a>
        </h1>
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    const openElement = document.querySelector('.overlay-open');
    const closeElement = document.querySelector('.overlay-close');
    const overlayElement = document.querySelector('.overlay');
    openElement.addEventListener('click', e => {
      e.preventDefault();
      overlayElement.style.width = '100%';
    });
    closeElement.addEventListener('click', e => {
      e.preventDefault();
      overlayElement.style.width = '0%';
    });
  }());

</script> {{/inline}} {{#*inline "scripts-block"}} {{/inline}} {{/layouts/base}}